$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-large-screen: 1200px;

$white: #fff;
$black: #000;
$red: #b13047;
$grey: #cecece;

$error: red;
$border: #777;
$border-focus: #6ddae3;

$header-shadow: #d0d0d0;
$header-hover: #383838;
$header-cart: #e8e8e8;

$footer-background: rgb(236, 236, 236);

$shadow: #d8d8d8;
$img-background: rgba(0,0,0,0.7);
$carousel-indicator: #141212;
$cart-background: rgba(0, 0, 0, 0.5);

$product-wrapper: #c7c3c3;
$product-description: #e2e2e2;
$product-mobile-dropdown-background: #e8e8e8;
$product-mobile-border: #d4d4d4;
$product-mobile-color: #585858;