@import 'src/variable.scss';

.carousel {
  width: 90%;
  margin: auto;
  box-shadow: 0 8px 6px -6px $shadow;
}

img {
    background-color: linear-gradient($img-background, $img-background);
}

::ng-deep .carousel-control-prev-icon{
   //background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
   left: 0;
}
::ng-deep .carousel-control-next-icon{
  //background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
  right: 0;
}

::ng-deep .carousel-indicators li {
  max-width: 6px;
  height: 6px;
  background-color: rgb(221, 214, 214);
  border-radius: 50%;
  margin: 10px;
}

::ng-deep .carousel-indicators .active {
  max-width: 6px;
  height: 6px;
  background-color: $carousel-indicator;
}

::ng-deep .carousel-control-prev-icon::before{
  //font-family: 'Glyphicons Halflings';
  //content: "\e079";
  content: 'PREV';
  font-size: 12px;
 padding: 10px 10px;
  background-color: $carousel-indicator;
  color: $white;
}
::ng-deep .carousel-control-next-icon::before{
  //font-family: 'Glyphicons Halflings';
 //content: "\e080";
 font-size: 12px;
 padding: 10px 10px;
 content: "NEXT";
 background-color: $carousel-indicator;
  color: $white;
  right: 0;

}

.details-wrapper {
  h3 {
      font-weight: 700;
      margin-bottom: 1rem;
  }
}

.categories {
  width: 90%;
  margin: auto;
  //box-shadow: 0px 15px 10px -15px #111;
  box-shadow: 0 8px 6px -6px $shadow;
}