@import 'src/variable.scss';

button {
    border: 0;
    background-color: $red;
    color: $white;
    padding: 0.5rem 1rem;
  
    &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }